.main-content {
  position: absolute;
  width: 1380px;
  height: 1200px;
  left: 329px;
  top: 133px;
  background: #ffffff;
  box-shadow: 0px 15px 40px 5px #ededed;
  border-radius: 30px;
}

.title-container {
  text-align: center;
  margin-bottom: 20px;
}

.title-container h1 {
  margin-bottom: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  line-height: 50px;
  display: flex;
  align-items: center;
  color: #696f79;
}

.title-container h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #696f79;
}

form {
  padding: 20px;
}

.images-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.image-line {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.image-button {
  position: relative;
  width: calc(25% - 20px); /* 4 images per line */
  margin: 10px;
  text-align: center;
}
.image-button .img {
  cursor: pointer;
}
.image-button .spann {
  position: absolute;
  right: 180px;
  top: 175px;
  color: white;
}
.image-button .spann {
  position: absolute;
  right: 178px;
  top: 175px;
  color: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 550;
  font-size: 15px;
}
.more-button-container {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  width: 100%;
}
.more-button {
  background: #8692a6;
  border-radius: 30px;
  width: 212px;
  height: 64px;
  left: 1000px;
  top: 500px;
  border: 0;
  color: #ffffff;
  font-family: "Poppins";
  font-style: normal;
  font-size: 20px;
}
