.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  width: 200px;
  height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
}

.sidebar-menu {
  padding: 20px;
  flex: 1;
  overflow-y: auto;
}

.sidebar-menu button {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  background-color: white;
  border-radius: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #696f79;
  justify-content: space-between;
}

.logout-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.logout-container button {
  width: 80%;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #696f79;
  background-color: white;
  border-radius: 30px;
}
